@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

:root { 
    --title-font: "Anton",sans-serif;
    --rainbow-gradient: radial-gradient(circle, rgba(255,0,255,1) 0%, rgba(255,240,0,1) 35%, rgba(0,255,0,1) 90%, rgba(0,0,255,1) 100%);
    --rainbow-reverse-gradient: radial-gradient(circle,  rgba(0,0,255,1) 0%, rgba(0,255,0,1) 35%, rgba(255,240,0,1) 90%, rgba(255,0,255,1) 100%);
}

@keyframes xx_text_warp {
    0% {
        background-position: 0% 50%;
    }
    50% { 
      /* transform: translateX(0.3ch) translateY(-.2ch) translateZ(-2ch) skew(2deg,-4deg); */
    }
    100% {
        background-position: 100% 50%;
        transform: translateX(0px) translateY(0px) translateZ(0px);
    }
} 
@keyframes xx_orb_warp { 
    0% { background-position: 0% 50%; }
    50%{ transform: skew(5deg,-5deg) scale(1.3);}
    100% { background-position: 100% 50%; }
}
@keyframes xx_blurry_bg { 
    0% { transform: rotate(0deg); filter: blur(120px)}
    50% { filter: blur(100px);}
    100% { transform: rotate(360deg); filter: blur(120px);}
}


.xx-warped-title-char { 
    font-family: var(--title-font);
    display: inline-block;
    padding: 0.05em;
    /* font-size: 10rem; */
    animation: xx_text_warp 3s ease-in-out infinite alternate;
  
}


.xx-warped-rainbow-theme { 
    background: var(--rainbow-gradient);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    background-size: 500% auto;
}

.xx-warped-rainbow-reverse-theme{
    background: var(--rainbow-reverse-gradient);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    background-size: 500% auto;
}


body { 
    background-color: #171717;
}